nav ul li {
    display: block;
    padding: 20px;
    width: 150px;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* flex-flow: column-reverse wrap;*/


    justify-content: center;
    align-items: baseline;
    align-content: center;


    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: red;
    height: 400px;
}
nav ul li {
    background-color: antiquewhite;
}
nav ul li:nth-child(1) {
    font-size: 20px;
    order: 2;

    align-self: flex-start;
}
nav ul li:nth-child(2) {
    font-size: 10px;
    order: -1;
}
nav ul li:nth-child(4) {
    font-size: 25px;
    order: 100;
}
nav ul li:nth-child(5) {
    font-size: 30px;
    order: -2;
}